
/*///////////----homepage----///////////*/
.home-page-back{
     background-image: url("../img/back-black3.png");
     background-position: center;
     background-attachment:fixed;
     background-size: cover;
     color: white;
     margin:0;
     padding:0;
}

.home-text-back{
     background-color: rgba(0, 0, 0, 0.7);
     height: 100%; 
     width:100%;
     z-index:-1;
     position:fixed;
}

.home-text{
    position: absolute;
    top: 55%;
    left: 40%;
    width: 70%;
    margin: -15% 0 0 -25%;
    vertical-align: middle;
    text-align:center;
}

/*//////////////////////////////////////*/



/*///////////----pathway page----///////////*/
.path-page-back{
     background-image: url("../img/back2.jpg");
     background-position: center;
     background-attachment:fixed;
     background-size: cover;
     color: white;
     margin:0;
     padding:0;
     
}

.path-text-back{
     background-color: rgba(10, 0, 0, 0.7);
     height: 100%; 
     width:100%;
     z-index:-1;
     position:fixed;
     position:absolute;
}

.path-text{
    position: absolute;
    top: 30%;
    left: 45%;
    width: 60%;
    margin: -15% 0 0 -25%;
    vertical-align: middle;
    text-align:center;
    position:absolute;
    color:white;
}

/*//////////////////////////////////////*/

/*///////////----pathway result page----///////////*/
.path-result-page-back{
     background-image: url("../img/back1.jpg");
     background-position: center;
     background-attachment:fixed;
     background-size: cover;
     color: white;
     margin:0;
     padding:0;
}

.path-result-text-back{
     background-color: rgba(0, 0, 0, 0.7);
     height: 100%; 
     width:100%;
     z-index:-1;
     position:fixed;
}

.path-result-text{
    position: absolute;
    top: 30%;
    left: 45%;
    width: 60%;
    margin: -15% 0 0 -25%;
    vertical-align: middle;
    text-align:center;
}
/*//////////////////////////////////////*/

/*///////////----enzyme page----///////////*/

.enzyme-page-back{
     background-image: url("../img/back-blue.jpeg");
     background-position: center;
     background-attachment:fixed;
     background-size: cover;
     color: white;
     margin:0;
     padding:0;
}

.enzyme-text-back{
     background-color: rgba(0, 0, 0, 0.7);
     height: 100%; 
     width:100%;
     z-index:-1;
     position:fixed;
}

.enzyme-text{
    position: absolute;
    top: 35%;
    left: 40%;
    width: 70%;
    margin: -15% 0 0 -25%;
    vertical-align: middle;
    text-align:center;
}

/*//////////////////////////////////////*/

/*///////////----enzyme result page----///////////*/

.enzyme-result-page-back{
     /* background-image: url("../img/back1.jpg") */
     background-position: center;
     background-attachment:fixed;
     background-size: cover;
     color: white;
     margin:0;
     padding:0;
}

.enzyme-result-text-back{
     background-color: rgba(0, 0, 0, 0.7);
     height: 100%; 
     width:100%;
     z-index:-1;
     position:fixed;
}

.enzyme-result-text{
    position: absolute;
    top: 30%;
    left: 45%;
    width: 60%;
    margin: -15% 0 0 -25%;
    vertical-align: middle;
    text-align:center;
}

/*//////////////////////////////////////*/


/*///////////----parts page----///////////*/
.parts-page-back{
     background-image: url("../img/back5.jpg");
     background-position: center;
     background-attachment:fixed;
     background-size: cover;
     color: white;
     margin:0;
     padding:0;
}

.parts-text-back{
     background-color: rgba(0, 0, 0, 0.7);
     height: 100%; 
     width:100%;
     z-index:-1;
     position:fixed;
}

.parts-text{
    position: absolute;
    top: 35%;
    left: 40%;
    width: 70%;
    margin: -15% 0 0 -25%;
    vertical-align: middle;
    text-align:center;
}


/*//////////////////////////////////////*/

/*///////////----parts result page----///////////*/

.parts-result-page-back{
     background-image: url("../img/back1.jpg");
     background-position: center;
     background-attachment:fixed;
     background-size: cover;
     color: white;
     margin:0;
     padding:0;
}

.parts-result-text-back{
     background-color: rgba(0, 0, 0, 0.7);
     height: 100%; 
     width:100%;
     z-index:-1;
     position:fixed;
}

.parts-result-text{
    position: absolute;
    top: 30%;
    left: 45%;
    width: 60%;
    margin: -15% 0 0 -25%;
    vertical-align: middle;
    text-align:center;
}

/*//////////////////////////////////////*/


/*///////////----input----///////////*/
.input-text{ 
    border: 2px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    width: 40%;
}

.input-text{ 
    border: 2px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    width: 20vw;
    height:30%;
}

.input-submit{ 
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    border: 2px solid #2a2a2a;
    position: relative;
    margin-top: 30px;
    margin-right: 40px;
    font-weight: 600;
    color: #222;
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
    z-index: 1;
    overflow: hidden;
    width: 120px;
    text-align: center;
    position:absolute;
}

.input-style3{
    border: none;
    padding: 5px 3px;
    padding-left: 0%;
    display: none;
    visibility: hidden;
}

/*//////////////////////////////////////*/

.table_class{
    text-align: center;
    color:black;
    /* border-collapse:separate; */
    border-collapse:collapse;
    width: 100%;
    font-size: 1px;
    box-shadow: 1px 1px 5px #888888;
}
.table_class td, .table_class th
{
	font-size:15px;
	border:1px solid #888888;
	padding:3px 7px 2px 7px;
}

/*//////////////////////////////////////*/

.function-box{
     width: 40vw;
     height: 40vh;
/*   margin:20px 40px 10px; */
     margin-left:-35%;
     padding:70px 30px;
     position: absolute;
     border:3px solid white;
     border-radius:20px;
     text-align:center;
     color:dimgray;
     background-color: rgba(0,0,0,.6);
                    
     -webkit-transition:all .3s ease-in-out;
     transition:all .3s ease-in-out;
     vertical-align:text-top;
     display:inline-block;

     box-shadow: 1000 1000 100px black;
                    
    }
    .function-box:hover{
     -webkit-box-shadow:0 0 35px rgba(0,0,0,.06);
     box-shadow:0 100 350px rgba(0,0,0,.06);
     border-color:#4286f4;
     position: absolute;
    }
    