<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Advice</title>
    <link href="../media/css/pages.css" rel="stylesheet" type="text/css">
    <link href="../media/css/alink.css" rel="stylesheet" type="text/css">

</head>

<body class="enzyme-page-back">
    <div class="enzyme-text-back">
    <!--black background-->
    </div>
    <div style="text-align:center"> 
        <div class="enzyme-text">
            <br><br>
            <h1>Thanks for Your Advice！</h1> 
            <br>
            <h1>We will take it.</h1> 
            <br>
        </div>
        <a href="/pathlab/"><img src="../media/img/ll.png" alt="logo" style="margin-top: 45%;margin-left: 80%; width: 5%" ></a>
    </div>
</body>
</html>