<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parts</title>
    <link href="../media/css/pages.css" rel="stylesheet" type="text/css">
    <link href="../media/css/alink.css" rel="stylesheet" type="text/css">

</head>

<body style="margin:0;padding:0">
    <div class="back-parts1">
        <div style="background-color: rgba(0, 0, 0, 0.7);height: 100%; vertical-align: middle;">
            <div class="text-parts">
                <h1>Parts Design</h1>
                <br>
                <form enctype="multipart/form-data" action="/parts_result/" method="POST" >
                    <h2 style="text-align: left">
                        Your Sequence: <input class="input-text" type="text" placeholder="1.1.1.1" name="sequence">
                        <br><br>
                        Organism:&nbsp;&nbsp; <input class="input-text" type="text" placeholder="E.coli" name="organism">
                        <br>
                    </h2>
                    <div style="text-align: right">
                        <input class="input-submit" type="submit"  value="Submit">
                    </div>          
                </form>
         
            </div>
            <a href="/pathlab/"><img src="../media/img/ll.png" alt="logo" style="margin-top: 45%;margin-left: 80%; width: 5%" ></a>
        </div>
    </div>
</body>
</html>