<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pathlab</title>
    <link href="../media/css/pages.css" rel="stylesheet" type="text/css">
    <link href="../media/css/alink.css" rel="stylesheet" type="text/css">
</head>

<body style="margin:0;padding:0">
    <div class="back-home1">
        <div style="background-color: rgba(0, 0, 0, 0.7);height: 100%; vertical-align: middle;">
            <div class="text-home1">
                <h1>Welcome to Pathlab!</h1>
                <br>
                <h1> 
                    <a class="a-style" href="/pathway/">Pathway Search</a> 
                    |
                    <a class="a-style" href="/enzyme/">Enzyme Selection</a>
                    |
                    <a class="a-style" href="/parts/">Parts Design</a>
                </h1>
            </div>
        
            <a href="/pathlab/"><img src="../media/img/ll.png" alt="logo" style="margin-top: 45%;width: 5%" ></a>
        </div>
    </div>
</body>
</html>
